{
    // Filename of your database
    "db_path": "./backupchan.db",

    // Password to the web interface
    "webui_password": "123456",

    // Whether or not to enable debug mode on web interface
    // Only enable if you're developing.
    "webui_debug": False,

    // Temporary location for uploaded files
    // Must be writable and readable
    "temp_save_path": "/tmp/backupchan",

    // Database connection info
    // You *have* to set this in your config, as this has no default values.
    "db": {
        "user": "backupchan",
        "password": "your_password",
        "host": "127.0.0.1",
        "port": 3306,
        "database": "backupchan"
    }
}
