{
    // Enable or disable Web UI
    "webui_enable": True,

    // Enables Flask debug mode
    // Only enable if you're developing.
    "web_debug": False,

    // Temporary location for uploaded files
    // Must be writable and readable
    "temp_save_path": "/tmp/backupchan",

    // Database connection info
    // You *have* to set this in your config, as this has no default values.
    "db": {
        "user": "backupchan",
        "password": "your_password",
        "host": "127.0.0.1",
        "port": 3306,
        "database": "backupchan"
    },

    // Recycle bin directory path
    "recycle_bin_path": "./Recycle-bin",

    // Interval for checking targets for recycling, in seconds
    "recycle_job_interval": 3600,

    // Whether or not to enable authentication on webui
    // Set password by running passwd.py
    "webui_auth": true
}
