{
    // Enable or disable Web UI
    "webui_enable": true,

    // Enables Flask debug mode
    // Only enable if you're developing.
    "web_debug": false,

    // Temporary location for uploaded files
    // Must be writable and readable
	// This location is periodically cleared by a job, make sure it's only for backup-chan.
    "temp_save_path": "/tmp/backupchan",

    // Database connection info
    // You *have* to set this in your config, as this has no default values.
    "db": {
        "user": "backupchan",
        "password": "your_password",
        "host": "127.0.0.1",
        "port": 3306,
        "database": "backupchan"
    },

    // Recycle bin directory path
    "recycle_bin_path": "./Recycle-bin",

    // Interval for checking targets for recycling, in seconds
    "recycle_job_interval": 3600, // 1hr

    // Interval for updating backup filesize counts
    "backup_filesize_job_interval": 7200, // 2hrs

    // Interval for deleting duplicate backups
    "deduplicate_job_interval": 18000, // 5hrs

    // Interval for purging stale sequential uploads
    "stale_seq_upload_job_interval": 3600, // 1hr
	
	// Interval for purging temporary directory
	"tmp_purge_job_interval": 43200, // 12hrs

    // Whether or not to enable authentication on webui
    // Set password by running passwd.py
    "webui_auth": true,

    // How many targets to show per page in the list
    "page_size": 10,

    // Disable WebUI authentication on localhost
    "webui_localhost_disable_auth": false
}
