* {
    font-family: sans-serif;
}

body {
    background-color: #fff9e8;
}

.monospace {
    font-family: monospace;
}

.error-message {
    font-weight: bold;
    color: red;
}

details {
    width: fit-content;
    background-color: #dbd2b8;
    padding: .5em;
}

details summary {
    cursor: pointer;
    background-color: #ded7c3;
    padding: .5em;
}

details summary:hover {
    background-color: #e0ddd5;
}

nav {
    background-color: #fffc9c;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar li a {
    text-decoration: none;
    color: black;
}

#navbar li a:hover {
    font-style: italic;
}

/* this is so silly */
#backupchan-heading {
    transform-style: preserve-3d;
    perspective: 1000px;
}

#backupchan-heading:hover {
    animation: speen 2s linear infinite;
}

@keyframes speen {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: purple;
    font-style: italic;
}

#container {
    min-height: 90vh;
    background-color: #eee8d8;
    padding: 1em;
}

#container h1 {
    text-decoration: underline;
}

.big-monospace {
    font-family: monospace;
    background-color: lightgrey;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 4px;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

th {
    background-color: rgba(0, 0, 0, 0.05);
}

.bulk_edit_checkbox {
    text-align: center;
}

.bulk_edit_actions {
    display: none;
    border: 1px solid black;
    padding: 0.3em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

#pagination {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-top: none;
}

.log-debug {
    color: green;
}

.log-info {
    color: blue;
}

.log-warning {
    color: orange;
}

.log-error {
    color: red;
}

.log-critical {
    color: maroon;
}

#log-table {
    overflow: auto;
}
