{% from "macro.html" import navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup-chan >> Delete target recycled backups</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {{ navbar() }}
    <div id="container">
        <h1>Delete recycled target backups</h1>
        <p>All recycled backups for target <b>{{ target.name }}</b> are about to be deleted. Are you okay with that?</p>
        <form method="post" action="{{ url_for('webui.delete_target_recycled', id=target.id) }}">
            <input type="checkbox" name="delete_files" value="delete_files"> <label for="delete_files">Also delete backup files</label><p></p>
            <input type="submit" value="Delete">
        </form>
    </div>
</body>
</html>
