{% from "macro.html" import navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup-chan >> Delete backup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {{ navbar() }}
    <div id="container">
        <h1>Delete backup</h1>
        <p>Backup with ID <b class="monospace">{{ backup.id }}</b> created at <b>{{ backup.pretty_created_at() }}</b>, belonging to target <b>{{ target_name }}</b> will be deleted. Are you okay with that?</p>
        <form action="{{ url_for('webui.delete_backup', id=backup.id) }}" method="post">
            <input type="checkbox" name="delete_files" value="delete_files" id="delete_files"> <label for="delete_files">Also delete backup files</label><p></p>
            <input type="submit" value="Delete">
        </form>
    </div>
</body>
</html>
