{% from "macro.html" import navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup-chan >> Targets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {{ navbar() }}
    <div id="container">
        <h1>Targets</h1>
        <p>There {% if num_targets == 1 %}is{% else %}are{% endif %} currently {% if num_targets == 0 %}no{% else %}{{ num_targets }}{% endif %} target{% if num_targets != 1 %}s{% endif %}{% if num_targets != 0 %}, storing a total of {{ num_backups }} backup{% if num_backups != 1 %}s{% endif %}{% endif %}. {% if num_targets == 0 %}<a href="{{ url_for('webui.new_target') }}">Create a new target</a>{% endif %}</p>
        {% if page != 1 or has_more %}
        <p><i>Now viewing page {{ page }}.</i></p>
        {% endif %}
        {% if num_backups != 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Alias</th>
                    <th>Type</th>
                    <th>Backups</th>
                    <th>Total filesize</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for target_info in targets %}
                <tr>
                    <td><a href="{{ url_for('webui.view_target', id=target_info[0].id) }}">{{ target_info[0].name }}</a></td>
                    <td>{% if target_info[0].alias is none %}<i>None</i>{% else %}{{ target_info[0].alias }}{% endif %}</td>
                    <td>
                    {% if target_info[0].target_type == "single" %}
                        Single file
                    {% elif target_info[0].target_type == "multi" %}
                        Multiple files
                    {% endif %}
                    </td>
                    <td>{{ target_info[1] }}</td>
                    <td>{{ target_info[2] }}</td>
                    <td><span class="monospace">{{ target_info[0].location }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if page != 1 or has_more %}
        <div id="pagination">
            {% if page != 1 %}<a href="{{ url_for('webui.list_targets', page=(page - 1)) }}">&lt;</a>{% endif %} {{ page }} {% if has_more %}<a href="{{ url_for('webui.list_targets', page=(page + 1)) }}">&gt;</a>{% endif %}
        </div>
        {% endif %}
        {% endif %}
    </div>
</body>
</html>
