<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup-chan >> Targets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Targets</h1>
    <p>There are currently {{ num_targets }} targets. <a href="{{ url_for('new_target') }}">Create a new target</a></p>
    <ol>
    {% for target in targets %}
        ID: <b class="monospace">{{ target.id }}</b><br>
        Name: <b>{{ target.name }}</b><br>
        Recycle criteria:
        {{ target.recycle_criteria }}
        <b>
        {% if target.recycle_criteria == "none" %}
            None
        {% elif target.recycle_criteria == "count" %}
            After {{ target.recycle_value }} copies
        {% elif target.recycle_criteria == "age" %}
            After {{ target.recycle_value }} days
        {% else %}
            (broken value)
        {% endif %}
        </b><br>
        Recycle action:
        <b>
        {% if target.recycle_action is not none %}
            {% if target.recycle_action == "delete" %}
                Delete
            {% elif target.recycle_action == "recycle" %}
                Move to recycle bin
            {% else %}
                (broken value)
            {% endif %}
        {% endif %}
        </b><br>
        Type:
        <b>
        {% if target.target_type == "single" %}
            Single file
        {% elif target.target_type == "multi" %}
            Multiple files
        {% else %}
            (broken value)
        {% endif %}
        </b><br>
        Location: <b class="monospace">{{ target.location }}</b><br>
        Name template: <b class="monospace">{{ target.name_template }}</b>
    {% endfor %}
    </ol>
</body>
</html>
