{% from "macro.html" import navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup-chan >> Jobs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {{ navbar() }}
    <div id="container">
        <h1>Jobs</h1>
        <h2>Scheduled jobs</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Interval</th>
                    <th>Next run</th>
					<th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for job in scheduled_jobs %}
                <tr>
                    <td class="monospace">{{ job.name }}</td>
                    <td>{{ job.interval }} seconds</td>
                    <td>{{ job.pretty_next_run() }} ({{ job.next_run | time_until }})</td>
		    <td><a href="{{ url_for('webui.force_run_job', name=job.name) }}">Force re-run</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Delayed jobs</h2>
        {% if delayed_job_count == 0 %}
        No delayed jobs have been run yet.
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Start time</th>
                    <th>End time</th>
                </tr>
            </thead>
            <tbody>
                {% for id, job in delayed_jobs.items() %}
                <tr>
                    <td>{{ id }}</td>
                    <td class="monospace">{{ job }}</td>
                    <td>{{ job.state }}</td>
                    <td>{{ job.pretty_start_time() }}</td>
                    <td>{{ job.pretty_end_time() }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <h2>Sequential uploads</h2>
        {% if seq_uploads | length == 0 %}
        No sequential uploads are currently being processed.
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Target ID</th>
                    <th>File count</th>
                    <th>Manual</th>
                    <th>Last activity</th>
                </tr>
            </thead>
            <tbody>
                {% for target_id, seq_upload in seq_uploads.items() %}
                <tr>
                    <td><a href="/targets/{{ target_id }}">{{ target_id }}</a></td>
                    <td>{{ seq_upload.file_list | length }}</td>
                    <td>{% if seq_upload.manual %}yes{% else %}no{% endif %}</td>
                    <td>{{ seq_upload.last_activity | pretty_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</body>
