{% from "macro.html" import navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup-chan >> Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {{ navbar() }}
    <div id="container">
        <h1>Log</h1>
        <p>The following are the latest lines from the log. Oldest lines come first.</p>
        {% if tail != 0 %}
        <p>Showing last {{ tail }} lines.</p>
        {% endif %}
        <pre class="big-monospace">
            {{ content }}
        </p>
    </div>
</body>
</html>

