{% from "macro.html" import navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup-chan >> Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {{ navbar() }}
    <div id="container">
        <h1>Log</h1>
        <p>The following are the latest lines from the log. Oldest lines come first.</p>
        {% if tail != 0 %}
        <p>Showing last {{ tail }} lines.</p>
        {% endif %}

        <table>
            <thead>
                <th>Time</th>
                <th>Module</th>
                <th>Level</th>
                <th>Message</th>
            </thead>
            <tbody>
                {% for line in content %}
                <tr>
                    <td>{{ line.time }}</td>
                    <td>{{ line.module }}</td>
                    <td class="log-{{ line.level | lower }}">{{ line.level }}</td>
                    <td><pre>{{ line.message }}</pre></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

