{% macro target_print(target) %}
    ID: <b class="monospace">{{ target.id }}</b><br>
    Name: <b>{{ target.name }}</b><br>
    Recycle criteria:
    <b>
    {% if target.recycle_criteria == "none" %}
        None
    {% elif target.recycle_criteria == "count" %}
        After {{ target.recycle_value }} copies
    {% elif target.recycle_criteria == "age" %}
        After {{ target.recycle_value }} days
    {% else %}
        (broken value)
    {% endif %}
    </b><br>
    {% if target.recycle_criteria != "none" %}
    Recycle action:
    <b>
    {% if target.recycle_action == "delete" %}
        Delete
    {% elif target.recycle_action == "recycle" %}
        Move to recycle bin
    {% else %}
        (broken value)
    {% endif %}
    </b><br>
    {% endif %}
    Type:
    <b>
    {% if target.target_type == "single" %}
        Single file
    {% elif target.target_type == "multi" %}
        Multiple files
    {% else %}
        (broken value)
    {% endif %}
    </b><br>
    Location: <b class="monospace">{{ target.location }}</b><br>
    Name template: <b class="monospace">{{ target.name_template }}</b><br>
    Deduplication
    <b>
    {% if target.deduplicate %}
        on
    {% else %}
        off
    {% endif %}
    </b>
{% endmacro %}

{% macro backup_print(backup, target=none) %}
    ID: <b class="monospace">{{ backup.id }}</b><br>
    {% if target is not none %}
    Belongs to: <a href="{{ url_for('webui.view_target', id=target.id) }}">{{ target.name }}</a><br>
    {% endif %}
    Created at: <b>{{ backup.pretty_created_at() }}</b><br>
    Size: <b>{{ backup.pretty_filesize() }}</b><br>
    Uploaded <b>{% if backup.manual %}manually{% else %}automatically{% endif %}</b><br>
    <a href="{{ url_for('webui.delete_backup', id=backup.id) }}">Delete</a> |
    {% if backup.is_recycled %}
    <a href="{{ url_for('webui.unrecycle_backup', id=backup.id) }}">Restore</a>
    {% else %}
    <a href="{{ url_for('webui.recycle_backup', id=backup.id) }}">Recycle</a>
    {% endif %}
{% endmacro %}

{% macro navbar() %}
    <nav>
        <ul id="navbar">
            <li id="backupchan-heading">Backup-chan</li>
            <li><a href="{{ url_for('webui.list_targets') }}">Targets</a></li>
            <li><a href="{{ url_for('webui.recycle_bin') }}">Recycle bin</a></li>
            <li><a href="{{ url_for('webui.view_log') }}">Logs</a></li>
            <li><a href="{{ url_for('webui.view_stats') }}">Stats</a></li>
        </ul>
    </nav>
{% endmacro %}
