{% macro target_print(target) %}
    ID: <b class="monospace">{{ target.id }}</b><br>
    Name: <b>{{ target.name }}</b><br>
	{% if target.alias is not none %}
        Alias: <b>{{ target.alias }}</b><br>
	{% endif %}
    Recycle criteria:
    <b>
    {% if target.recycle_criteria == "none" %}
        None
    {% elif target.recycle_criteria == "count" %}
        After {{ target.recycle_value }} copies
    {% elif target.recycle_criteria == "age" %}
        After {{ target.recycle_value }} days
        {% if target.min_backups %}
        (keep at least {{ target.min_backups }} backups)
        {% endif %}
    {% else %}
        (broken value)
    {% endif %}
    </b><br>
    {% if target.recycle_criteria != "none" %}
    Recycle action:
    <b>
    {% if target.recycle_action == "delete" %}
        Delete
    {% elif target.recycle_action == "recycle" %}
        Move to recycle bin
    {% else %}
        (broken value)
    {% endif %}
    </b><br>
    {% endif %}
    Type:
    <b>
    {% if target.target_type == "single" %}
        Single file
    {% elif target.target_type == "multi" %}
        Multiple files
    {% else %}
        (broken value)
    {% endif %}
    </b><br>
    Location: <b class="monospace">{{ target.location }}</b><br>
    Name template: <b class="monospace">{{ target.name_template }}</b><br>
    Deduplication
    <b>
    {% if target.deduplicate %}
        on
    {% else %}
        off
    {% endif %}
    </b>
{% endmacro %}

{% macro backup_print(backup, bulk_edit_controls, show_actions, target=none) %}
<tr>
    {% if bulk_edit_controls %}
    <td class="bulk_edit_checkbox"><input name="backup{{ backup.id }}" type="checkbox" value="1">
    {% endif %}
    <td>{{ backup.id }}</td>
    {% if target is not none %}
    <td><a href="{{ url_for('webui.view_target', id=target.id) }}">{{ target.name }}</a></td>
    {% endif %}
    <td>{{ backup.created_at | pretty_datetime }}</td>
    <td>{{ backup.filesize | pretty_filesize }}</td>
    <td>{% if backup.manual %}yes{% else %}no{% endif %}</td>
    {% if show_actions %}
    <td>
        <a href="{{ url_for('webui.download_backup', id=backup.id) }}">Download</a> |
        <a href="{{ url_for('webui.delete_backup', id=backup.id) }}">Delete</a> |
        {% if backup.is_recycled %}
        <a href="{{ url_for('webui.unrecycle_backup', id=backup.id) }}">Restore</a>
        {% else %}
        <a href="{{ url_for('webui.recycle_backup', id=backup.id) }}">Recycle</a>
        {% endif %}
    </td>
    {% endif %}
</tr>
{% endmacro %}

{% macro backup_table_print(backups, bulk_edit, bulk_recycled_only, bulk_actions, form_id, target_id, show_actions) %}
    {% if form_id %}
    <form method="post" id="{{ form_id }}" action="{{ url_for('webui.bulk_edit') }}">
        <input type="hidden" name="recycled_type" value="{% if bulk_recycled_only %}only_recycled{% else %}only_active{% endif %}">
    {% endif %}
        <table>
            <thead>
                <tr>
                    {% if bulk_edit and form_id %}
                    <th><input name="select_all_backups" class="select_all_backups" type="checkbox" value="{{ target_id }}"></th>
                    {% endif %}
                    <th>ID</th>
                    <th>Date</th>
                    <th>Size</th>
                    <th>Manual</th>
                    {% if show_actions %}<th>Actions</th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for backup in backups %}
                    {{ backup_print(backup, bulk_edit, show_actions) }}
                {% endfor %}
            </tbody>
        </table>
        {% if bulk_edit %}
        <div class="bulk_edit_actions">
            Bulk edit:
            {% if bulk_actions == "del_rec" %}
            <input name="bulk_delete" type="submit" value="Delete">
            <input name="bulk_recycle" type="submit" value="Recycle">
            {% elif bulk_actions == "del_unrec" %}
            <input name="bulk_delete" type="submit" value="Delete">
            <input name="bulk_unrecycle" type="submit" value="Restore">
            {% endif %}
            <span class="selected_count"></span>
        </div>
        {% endif %}
    {% if form_id %}
    </form>
    {% endif %}
    {% if bulk_edit and form_id %}
    <script>
        bulkEditInitialize("{{ form_id }}");
    </script>
    {% endif %}
{% endmacro %}

{% macro navbar() %}
    <nav>
        <ul id="navbar">
            <li id="backupchan-heading">Backup-chan</li>
            <li><a href="{{ url_for('webui.list_targets') }}">Targets</a></li>
            <li><a href="{{ url_for('webui.recycle_bin') }}">Recycle bin</a></li>
            <li><a href="{{ url_for('webui.view_log') }}">Logs</a></li>
            <li><a href="{{ url_for('webui.view_stats') }}">Stats</a></li>
            <li><a href="{{ url_for('webui.list_jobs') }}">Jobs</a></li>
        </ul>
    </nav>
{% endmacro %}
