{% from "macro.html" import navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup-chan >> Search targets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {{ navbar() }}
    <div id="container">
        <h1>Search targets</h1>
        <form method="get" action="{{ url_for('webui.search_targets') }}">
            <div class="row">
                <label for="name">Name:</label> <input type="text" name="name" id="name">
            </div>

            <div class="row">
                <label for="type">Type:</label>
                <select name="type" id="type">
                    <option value="" selected="selected">Any</option>
                    <option value="single">Single file</option>
                    <option value="multi">Multiple files</option>
                </select>
            </div>

            <div class="row">
                <label for="recycle_criteria">Recycle criteria:</label>
                <select name="recycle_criteria" id="recycle_criteria">
                    <option value="" selected="selected">Any</option>
                    <option value="none">None</option>
                    <option value="count">Count</option>
                    <option value="age">Age</option>
                </select>
            </div>

            <div class="row">
                <label for="recycle_action">Recycle action:</label>
                <select name="recycle_action" id="recycle_action">
                    <option value="" selected="selected">Any</option>
                    <option value="recycle">Recycle</option>
                    <option value="delete">Delete</option>
                </select>
            </div>

            <div class="row">
                <label for="location">Location:</label> <input type="text" name="location" id="location" placeholder="/var/backups">
            </div>

            <div class="row">
                <label for="name_template">Name template:</label> <input type="text" name="name_template" id="name_template">
            </div>

            <div class="row">
                <label for="deduplicate">Deduplication:</label>
                <select name="deduplicate" id="deduplicate">
                    <option value="" selected="selected">Any</option>
                    <option value="on">On</option>
                    <option value="off">Off</option>
                </select>
            </div>

            <div class="row">
                <label for="alias">Alias:</label> <input type="text" name="alias" id="alias">
            </div>

            <div class="row">
                <label for="tags">Tags (separate with spaces):</label> <input type="text" name="tags" id="tags" placeholder="games important">
            </div>

            <input type="submit" value="Search">
        </form>
    </div>
</body>
</html>

