{% from "macro.html" import target_print, backup_print %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup-chan >> Target: {{ target.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Target details: {{ target.name }}</h1>
    {{ target_print(target) }}
    <ul>
        <li><a href="{{ url_for('upload_backup', id=target.id) }}">Upload backup</a></li>
        <li><a href="{{ url_for('edit_target', id=target.id) }}">Edit target</a></li>
        <li><a href="{{ url_for('delete_target', id=target.id) }}">Delete target</a></li>
        <li><a href="{{ url_for('delete_target_backups', id=target.id) }}">Delete all backups</a></li>
    </ul>
    <p>This target has <b>{{ num_backups }}</b> backups.</p>
    <ol>
    {% for backup in active_backups %}
        <li>
            {{ backup_print(backup) }}
        </li>
    {% endfor %}
    </ol>

    {% if has_recycled_backups %}
    <details>
        <summary>Recycled backups</summary>
        <ol>
        {% for backup in recycled_backups %}
            <li>
                {{ backup_print(backup) }}
            </li>
        {% endfor %}
        </ol>
    </details>
    {% endif %}
</body>
</html>
