{% from "macro.html" import navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup-chan >> Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {{ navbar() }}
    <div id="container">
        <h1>Stats</h1>
        <table>
            <tr>
                <td>Backup-chan version</td>
                <td><b>{{ program_version }}</b></td>
            </tr>
            <tr>
                <td>Total targets</td>
                <td><b>{{ total_targets }}</b></td>
            </tr>
            <tr>
                <td>Total backups</td>
                <td><b>{{ total_backups }}</b> (<b>{{ total_recycled_backups }}</b> recycled)</td>
            </tr>
            <tr>
                <td>Total target size</td>
                <td><b>{{ total_target_size }}</b></td>
            </tr>
            <tr>
                <td>Total recycle bin size</td>
                <td><b>{{ total_recycle_bin_size }}</b></td>
            </tr>
        </table>
    </div>
</body>
</html>
