{% from "macro.html" import target_print, backup_table_print, navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup-chan >> Target: {{ target.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='bulk_edit.js') }}"></script>
    <noscript>
        <style>
            .bulk_edit_actions {
                display: inline-block;
            }
        </style>
    </noscript>
</head>
<body>
    {{ navbar() }}
    <div id="container">
        <h1>Target details: {{ target.name }}</h1>
        {{ target_print(target) }}
        <ul>
            <li><a href="{{ url_for('webui.upload_backup', id=target.id) }}">Upload backup</a></li>
            <li><a href="{{ url_for('webui.edit_target', id=target.id) }}">Edit target</a></li>
            <li><a href="{{ url_for('webui.delete_target', id=target.id) }}">Delete target</a></li>
            <li><a href="{{ url_for('webui.delete_target_backups', id=target.id) }}">Delete all backups</a></li>
        </ul>
        <p>This target has <b>{{ num_backups }}</b> backup{% if num_backups != 1 %}s{% endif %}.</p>
        {% if num_backups != num_recycled_backups %}
        {{ backup_table_print(active_backups, true, false, "del_rec", "active_backups_form", target.id, true) }}
        {% endif %}

        {% if has_recycled_backups %}
        <details>
            <summary>Recycled backups ({{ num_recycled_backups }})</summary>
            <a href="{{ url_for('webui.delete_target_recycled', id=target.id) }}">Delete all</a></li>
            {{ backup_table_print(recycled_backups, true, true, "del_unrec", "recycled_backups_form", target.id, true) }}
            </details>
        {% endif %}
    </div>
</body>
</html>
