{% from "macro.html" import target_print, backup_print, navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup-chan >> Target: {{ target.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {{ navbar() }}
    <div id="container">
        <h1>Target details: {{ target.name }}</h1>
        {{ target_print(target) }}
        <ul>
            <li><a href="{{ url_for('webui.upload_backup', id=target.id) }}">Upload backup</a></li>
            <li><a href="{{ url_for('webui.edit_target', id=target.id) }}">Edit target</a></li>
            <li><a href="{{ url_for('webui.delete_target', id=target.id) }}">Delete target</a></li>
            <li><a href="{{ url_for('webui.delete_target_backups', id=target.id) }}">Delete all backups</a></li>
        </ul>
        <p>This target has <b>{{ num_backups }}</b> backup{% if num_backups != 1 %}s{% endif %}.</p>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Size</th>
                    <th>Manual</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for backup in active_backups %}
                {{ backup_print(backup) }}
            {% endfor %}
            </tbody>
        </table>

        {% if has_recycled_backups %}
        <details>
            <summary>Recycled backups</summary>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Size</th>
                        <th>Manual</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for backup in recycled_backups %}
                    {{ backup_print(backup) }}
                {% endfor %}
                </tbody>
            </table>
            </details>
        {% endif %}
    </div>
</body>
</html>
