{% from "macro.html" import navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup-chan >> Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {{ navbar() }}
    <div id="container">
        <h1>Stats</h1>
        <p>Total number of targets: <b>{{ total_targets }}</b></p>
        <p>Total number of backups: <b>{{ total_backups }}</b> (<b>{{ total_recycled_backups }}</b> recycled)</p>
        <p>Total size of all targets: <b title="{{ total_target_size_bytes }} bytes">{{ total_target_size }}</b></p>
        <p>Total size of recycle bin: <b title="{{ total_recycle_bin_size_bytes}} bytes">{{ total_recycle_bin_size }}</b></p>
    </div>
</body>
</html>
